<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandos</title>
    <link rel="shortcut icon" href="/image/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-img" src="/image/logodiscobot.svg">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="/index.html">Início</a>
            <a class="cabecalho-menu-item">Comunidade DiscoBot</a>
            <a class="cabecalho-menu-item">Tutorial</a>
            <a class="cabecalho-menu-item">Open Source</a>
            <a class="cabecalho-menu-item" href="comandos.html">Comandos</a>
        </nav>
    </header>
    <main class="conteudo">
        <section>
            <h1>Comandos</h1>
            <ol class="lista-comandos" start="1">
                <li>Adicionar
                    <ul class="lista-secundaria">
                        <li><i>/addmember</i> - Adicionar um membro.</li>
                        <li><i>/addbot</i> - Adicionar um bot.</li>
                        <li><i>/addrole</i> - Adicionar um cargo.</li>
                    </ul>
                </li>
                <li> Remover
                    <ul class="lista-secundaria">
                        <li><i>/removemember</i> - Remover um membro.</li>
                        <li><i>/removebot</i> - Remover um bot.</li>
                        <li><i>/removerole</i> - Remover um cargo.</li>
                    </ul>
                </li>
                
            </ol>
        </section>        
    </main>
    <footer class="rodape">
        <img class="rodape-img" src="/image/logorodape.svg">
        <p class="rodape-paragrafo">© Copyright 2022-2022 DiscoBot - Melhorando sua comunidade do Discord.</p>
    </footer>
</body>
</html>